.gallery__image {
  background-size: 100%;
  background-image: linear-gradient(), url('./src/images/gallery.png');
  width: 364px;
  height: 122px;

  text-align: center;
  margin: 0 auto;
  background-repeat: no-repeat;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .gallery__image {
    background-image: linear-gradient() url('./src/images/gallery@2x.png');
    background-size: 100%;
  }
}

/*TABLET*/

@media screen and (min-width: 768px) {
  .gallery__image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('./src/images/gallery.png');
    width: 786px;
    height: 264px;
    text-align: center;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
